@viewport {
  width: device-width;
  zoom: 1.0;
} 
:root {
  --confederate-gray: #9a9494;
  --dark-gray: #3c3b3b;
  --white-russian: #ffff;
  --ebony-black: #000000;
 }

/* applicable for ALL html elems, unless otherwise stated: */
/* 
    font-family: 'Black Ops One', cursive;
    font-family: 'Playfair Display SC', serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Black Ops One', cursive;
  /* FROM GOOGLE FONTS */
  /* font-family: 'Playfair Display SC', serif; */
}

html {
  box-sizing: border-box; 
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1 {
  /* REMEMBER: H1, H2, ETC. ARE FOR TITLES */
  /* font-family: 'Black Ops One', cursive; */
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
p {
  font-size: 30px;
}

/* YOOO THIS MEDIA QUERY FOR MACBOOK ACTUALLY WORKS */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 70px;
  }
}

/****************************************** NAVBAR SHIT ******************************************/
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25px;
  left: 10px;
  width: 6%;
  height: 25%;
  z-index: 10;
  background-color: var(--confederate-gray);
  outline-style: solid;
} 
.logo img {
  padding-top: 5px;
  padding-left: 5px;
}
/* for the overall list */
ul {
  list-style: none;
  /* line-height: 25px; */
  line-height: 21pt;
}
/* for each individual list item */
li a {
  text-decoration: none;
  color: var(--ebony-black);
  padding: 2.6rem;     /* padding for the left */
  font-size: 15px;
  margin: 10px 0 0 0;
}
a:hover { 
  text-decoration: underline;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25px;
    left: 10px;
    width: 7.5%;
    height: 30%;
    z-index: 10;
    background-color: var(--confederate-gray);
    outline-style: solid;
  } 
  li a {
    text-decoration: none;
    color: var(--ebony-black);
    font-size: 15px;
    margin: 10px 0 0 0;
    padding: 2.0rem;
  }
  .logo img {
    padding-top: 5px;
    padding-left: 10px;
  }
}

/****************************************** FRONT PAGE SHIT ******************************************/
/* FOR THE BACKGROUND */
.header {
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(122, 124, 133, 0.7), rgba(121, 123, 130, 0.7)), url(images/barracks.JPG); */
  background-image: linear-gradient(rgba(183, 185, 189, 0.7), rgba(183, 185, 189, 0.7)), url(images/barracks.JPG);
  background-position: center;
  background-size: cover; 
  position: relative;  
}
/* THE TEXT IN THE header-text SECTION */
.header-text {
  width: 90%;
  color: var(--ebony-black);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-text .latin {
  position: absolute;
  margin: 10px 0 40px;
  font-size: 30px;
  padding-top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;  
}
.header-text .date {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center;  */
  /* padding-top: 300px; */
  padding-top: 325px;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
  .date {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .date p {
    font-size: 20px;
    padding-top: 200px;
  } 
}

/****************************************** QUOTE SECTION ******************************************/
.quotes h1 {
  font-size: 100px;
}
.quotes p {
  margin: 10px 0 40px;
  padding-top: 60px;
}

/****************************************** SLIDE SHIT ******************************************/
.quote-container {
  position: relative;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 100%;
  /* IMPOSTER */
  /* height: 100vh; */
  /* background: #222; */
  /* background: #3c3b3b; */
  background: var(--dark-gray);
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.swiper {
  width: 60%;
  height: fit-content;
  /* border: 10px solid black; */
  border: 10px solid var(--ebony-black);
  outline-style: solid;
}
.swiper-slide img {
  width: 100%;
  height: 900px;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
  .swiper-slide img {
    width: 100%;
    height: 700px;
  } 
}

.swiper-slide p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: var(--confederate-gray); */
  color: var(--white-russian);
  text-shadow: 3px 3px 3px red;
}
/* FOR THE COLORS OF THE ARROWS/DOTS. 
HERE'S HOW TO INCLUDE MULTIPLE NESTED ELEMENTS */
.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: var(--ebony-black);
} 
.swiper .swiper-pagination-bullet-active {
  background: var(--ebony-black);
}

/****************************************** MISSION SECTION ******************************************/
.mission {
  min-height: 110vh;
  width: 100%;
  background-image: linear-gradient(rgba(199, 192, 192, 0.7), rgba(220, 218, 218, 0.7)), url(images/handsome/houston.jpg);
  /* background-image: url(images/handsome/houston.jpg); */
  background-position: center;
  background-size: cover; 
  position: relative;  
}
.mission-text {
  width: 90%;
  color: var(--ebony-black);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mission-text p, .training-text p {
  /* font-family: 'Black Ops One', cursive; */
  position: absolute;
  margin: 10px 0 40px;
  padding-top: 500px;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;  
  width: 55%;
}

/****************************************** TRAINING SECTION ******************************************/
/* this shit is necessary to stop the text from appearing at the very top of our page! */
.training {
  min-height: 80vh;
  width: 100%;
  background: var(--dark-gray);
  background-position: center;
  background-size: cover; 
  position: relative;  
}
.training-text {
  width: 100%;
  color: var(--white-russian);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* this extra shit added to decrease spacing from title */
.training-text p {
  padding-top: 20%;
  line-height: 1.5;
}
.spec-text {
  text-shadow: 3px 3px 3px red;
  font-size: 30px;
}
.spec-text:hover {
  text-decoration: none;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
  /* add spacing for the macbook h1 titles */
  .mission-text h1, .training-text h1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/****************************************** PICTURES SECTION ******************************************/
/* FOR THE WHOLE PAGE */
.pictures h2 {
  color: var(--white-russian);
  margin-top: 5%;
}
.pictures {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background: var(--dark-gray);
  padding-bottom: 5%;
}
.pictures-col {
  flex-basis: 33.333333%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
  /* text-align: left; */
  border: 5px solid black;
  outline-style: solid;
} 
.pictures-col img {
  /* makes sure the images takes up the entire column item */
  width: 100%;
  height: 400px;
  /* width: 100px;
  object-fit: cover; */
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 0; */
}

/****************************************** FAQS SECTION ******************************************/

/* WHOLE ASS SECTION IS ALR. CENTERED. NO NEED TO DO FURTHER CENTERING SHIT FOR THE TEXT */
.faqs {
  margin: auto;
  text-align: center;
  padding-top: 180px;
  background-image: linear-gradient(rgba(234, 226, 226, 0.7), rgba(225, 219, 219, 0.7)), url(images/soulfood.jpg);
  min-height: 160vh;
  background-repeat: no-repeat;
}
.faqs h1 {
  width: 100%;
  color: var(--ebony-black);
  position: relative;
  /* left: 50%;
  transform: translate(-50%, -50%); */
} 
h3 {
  padding-top: 7%;
  margin-bottom: 2%;
  font-size: 60px;
  /* position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; */
}
li p {
  /* YES I GOT THIS SHIT TO COMPRESS AAAND STAY CENTERED */
  max-width: 75%;
  /* margin: 0 auto 30px; 30PX CAUSES WHITE GAP AT BOTTOM */
  margin: 0 auto 0px;
  line-height: 1.5;
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
  /* add spacing for the macbook h3 titles */
  h3 {
    line-height: 1.1;
  }
}

/****************************************** CONTACT SECTION ******************************************/
.footer {
  width: 100%;
  text-align: center;
  padding: 150px 0;
  background-color: var(--dark-gray);
  color: var(--white-russian);
} 
.footer h4 {
  font-size: 20px;
  padding-bottom: 5%;
}
.footer ul {
  /* lol gotta use this width shit just to center the horizontal line. Primitive  */
  width: 65%;
  list-style-type: none;
  /* display: table; */
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  left: 50%;
}
.footer ul li {
  
  padding: 50px;
  display: table-cell;
}

